<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362018442563-idffbcgl54n139s3etnav1iehrskp7d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362018442563-idffbcgl54n139s3etnav1iehrskp7d5</string>
	<key>API_KEY</key>
	<string>AIzaSyDoIhxqvWALel1xcylM3R5Kk_oIxUgTsHw</string>
	<key>GCM_SENDER_ID</key>
	<string>362018442563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.misstaff.organizer</string>
	<key>PROJECT_ID</key>
	<string>organizer-eb8b7</string>
	<key>STORAGE_BUCKET</key>
	<string>organizer-eb8b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362018442563:ios:c069a7ab7aa7699c5873f6</string>
</dict>
</plist>